
.form > h6{
    color:red
}

.select-srp-down{
    background: #4f6437;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.form-container{
    align-items:center;
    justify-content:center;
}

.del-drp-btn{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.del-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:red;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}


.admin-date-container{
    height: 400px;
}

.admin-date{
    text-align: center;
}

.white-text{
    color: white;
}

.details-btn{
    background: #32afb5;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 15px;
    font-weight: 100;
    padding: 7px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid black 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.button-form {
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    background: #603bbb;
    cursor: pointer;
    border-color: grey;
    width: 90%;
  }

  .button-form2 {
    outline: none;
    /* width: 100%; */
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    background: #835edf;
    cursor: pointer;
    border-color: grey;
    width: 90%;
  }

  .admin-main-container{
      text-align: -webkit-center;
  }

  .button-form:hover, .button-form2:hover{
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    transition: all 0.6s ease-in-out;
  }


.form-drp-btn{
    background: #32afb5;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 22px;
    padding-right: 20px;
    cursor: pointer;
}

.form-stpes{
    text-align: center;
    align-items: center;
    font-size: 23px;
    height: 90vh;
    background-color: whitesmoke;
  }

.credit-MY{
    color:  white;
    text-decoration: none;
}

.popup-content{
    width: 0px;
    height: 0px;
}

#popup-1{
    width: 0px;
    height: 0px;
}

.pop-up-content1{
    font-weight: bold;
    position:fixed;
    left:0;
    right:0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: auto;
    padding: 15px;  
    background: purple;
    text-align: center;
    box-sizing: content-box;
    border: 4px dashed black;
    color: white;
}


.last-step-btns{
    bottom: 1;
}

.step-btn-container{
    width: 100%;
    bottom: 0.0em;
    position: absolute;
}

.step-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.step-btn:hover{
    /* border-bottom: 5px solid #fff; */
    transition: all 0.8s ease-out;
}

.step-btn:last-child{
   /* position: absolute; */
   /* line-break: auto; */
}

.city-drp-down{
    background: whitesmoke;
    outline: none;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: large;
}


.del-city-drp-down{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    height: 45px;

}

.step-btn:hover{
    background-color:#32afb5;
}

.react-datepicker{
    /* background-color: #32afb5; */
    font-size: 15px;
    width: 100%;
    border-radius: 5%;
}

.react-datepicker__header {
    background-color: rgb(28, 27, 27)
}

.react-datepicker__day-names{
    background-color: rgb(28, 27, 27);
}

.react-datepicker__day-name{
    color: white;
}

.react-datepicker__current-month{
    color: whitesmoke;
}

.react-datepicker__day{
    color: black;
    font-weight: bolder;
    font-size: larger;
    /* background-color: red; */
}

.react-datepicker__day--disabled{
    color: lightgray;
}

.red-text{
    color: red;
}

.green-text{
    color: green;
}

.personal-wrapper{
    display: inline-grid;
}

.service-btn{
    background: #32afb5;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .service-btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .addon-btn{
    background: #B53832;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .addon-btn:hover {
    border: solid #337FED 1px;
    background: #a85e57;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

/* THIS IS NOW */
@media screen and (max-width: 960px) {
    .step-btn-container{
        display: grid;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    .step-btn{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.6em 0.0em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        font-size: 25px;
        color:#FFFFFF;
        background-color:black;
        text-align:center;
        transition: all 0.2s;
        cursor: pointer;
    }
}