
.form > h6{
    color:red
}

.select-srp-down{
    background: #4f6437;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.form-container{
    align-items:center;
    justify-content:center;
}

.del-drp-btn{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.del-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:red;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}


.admin-date-container{
    height: 400px;
}

.admin-date{
    /* background-color: red; */
    text-align: center;
}


.form-drp-btn{
    background: #32afb5;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.form-stpes{
    text-align: center;
    align-items: center;
    font-size: 23px;
    height: 90vh;
    background-color: whitesmoke;
  }

.credit-MY{
    color:  white;
    text-decoration: none;
}

.last-step-btns{
    bottom: 1;
}

.step-btn-container{
    width: 100%;
    bottom: 0.0em;
    position: absolute;
}

.step-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.step-btn:last-child{
   /* position: absolute; */
   /* line-break: auto; */
}

.city-drp-down{
    background: whitesmoke;
    outline: none;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: large;
}


.del-city-drp-down{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    height: 45px;

}

.step-btn:hover{
    background-color:#32afb5;
}

.react-datepicker{
    /* background-color: #32afb5; */
    font-size: 15px;
    width: 100%;
    border-radius: 5%;
}

.react-datepicker__header {
    background-color: rgb(28, 27, 27)
}

.react-datepicker__day-names{
    background-color: rgb(28, 27, 27);
}

.react-datepicker__day-name{
    color: white;
}

.react-datepicker__current-month{
    color: whitesmoke;
}

.react-datepicker__day{
    color: black;
    font-weight: bolder;
    font-size: larger;
    /* background-color: red; */
}

.react-datepicker__day--disabled{
    color: lightgray;
}

.red-text{
    color: red;
}

.personal-wrapper{
    display: inline-grid;
}

@media screen and (max-width: 960px) {
    .step-btn-container{
        display: grid;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    .step-btn{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.6em 0.0em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        font-size: 25px;
        color:#FFFFFF;
        background-color:black;
        text-align:center;
        transition: all 0.2s;
        cursor: pointer;
    }
}