
.form > h6{
    color:red
}

.form-container{
    align-items:center;
    justify-content:center;
    /* flex-direction: row; */
    /* display: flex; */
}


.form-drp-btn{
    background: #32afb5;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    /* align-items: center; */
}

.step-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.step-btn:hover{
    background-color:#32afb5;
}