
.form > h6{
    color:red
}
.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
  }
  
.admin-panel-title{
    FONT-WEIGHT: 100;
    font-family: system-ui;
    height: 70px;
    padding-top: 14px;
}
  
  .loader--hide {
    opacity: 0;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.select-srp-down{
    background: darkslategray;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.pick-ser-select-btn{
    text-align-last: center;
}

.form-container{
    align-items:center;
    justify-content:center;
}

.del-drp-btn{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.del-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    /* border-radius:2em; */
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:red;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}


.admin-date-container{
    height: 400px;
}

.admin-date{
    text-align: center;
}

.white-text{
    color: white;
}

.details-btn{
    background: #406334;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 15px;
    font-weight: 100;
    padding: 7px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid black 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.img-details-btn{
    background: #406334;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 15px;
    font-weight: 100;
    /* width: 30%; */
    right: 0;
    left: 0;
    padding: 7px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid black 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.button-form {
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    background: black;
    cursor: pointer;
    border-color: grey;
    width: 100%;
    font-family: system-ui;
  }

  .button-form2 {
    outline: none;
    font-family: system-ui;
    /* width: 100%; */
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-color: grey;
    width: 100%;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  }

  .admin-main-container{
      text-align: -webkit-center;
  }

  .button-form:hover, .button-form2:hover{
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    /* transition: all 0.6s ease-in-out; */
    transition: all .2s linear;
  }


.form-drp-btn{
    background: #32afb5;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 22px;
    padding-right: 20px;
    cursor: pointer;
}

.form-stpes{
    text-align: center;
    align-items: center;
    font-size: 23px;
    /* height: 120vh; */
    height: 87vh;
    background-color: #ffffff;
    /* background-image: url("https://thumbs.dreamstime.com/b/creative-cartoon-man-talking-speech-bubble-smooth-gradient-style-original-152899950.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 480px 500px; */
    /* https://thumbs.dreamstime.com/b/creative-cartoon-man-talking-speech-bubble-smooth-gradient-style-original-152899950.jpg */
    /* background-color: #32afb5; */
  }

  .bubble-man{
    background-image: url("https://thumbs.dreamstime.com/b/creative-cartoon-man-talking-speech-bubble-smooth-gradient-style-original-152899950.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 480px 500px;
    height: 86vh;
  }

  .text-on-bubble{
      left: 11%;
      width: 20%;
      position: absolute;
      margin-top: 65px;
  }

.credit-MY{
    color:  white;
    text-decoration: none;
}

.popup-content{
    width: 0px;
    height: 0px;
}

#popup-1{
    width: 0px;
    height: 0px;
}

.pop-up-content1{
    font-weight: bold;
    position:fixed;
    left:0;
    right:0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* width: 150px; */
    /* height: 50%; */
    /* width: 40%; */
    width: fit-content;
    height: fit-content;
    padding: 15px;  
    /* background: #32afb5; */
    background: whitesmoke;
    /* background: rgba(0, 0, 0, 0.5); */
    color: black;
    text-align: center;
    box-sizing: content-box;
    border: 4px double black;
    /* color: white; */
    /* width: 20%; */
    font-size: 30px;
}


.last-step-btns{
    bottom: 1;
}

.step-btn-container{
    width: 100%;
    bottom: 0.0em;
    /* position: absolute; */
    position: fixed;
}


.admin-btn-add{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    /* border-radius:2em; */
    /* border-radius: 5px; */
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:whitesmoke;
    /* background-color:green; */
    background-color: #22a222;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.admin-btn-del{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    /* border-radius:2em; */
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:whitesmoke;
    /* background-color:red; */
    background-color:#ab2323;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.imgs-to-customer{
    height: 350px;
    width: 250px;
}


.step-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.step-btn-admin{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 25px;
    color:#FFFFFF;
    background-color:darkslategray;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}


.step-btn-admin:hover{
    /* border-bottom: 5px solid #fff; */
    transition: all 0.8s ease-out;
}


.step-btn:hover{
    /* border-bottom: 5px solid #fff; */
    transition: all 0.8s ease-out;
}


.city-drp-down{
    background: whitesmoke;
    outline: none;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: large;
}


.del-city-drp-down{
    background: red;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    height: 45px;

}

.step-btn:hover{
    background-color:#32afb5;
}

.react-datepicker{
    /* background-color: #32afb5; */
    font-size: 15px;
    width: 100%;
    border-radius: 5%;
}

.react-datepicker__header {
    background-color: rgb(28, 27, 27)
}

.react-datepicker__day-names{
    background-color: rgb(28, 27, 27);
}

.react-datepicker__day-name{
    color: white;
}

.react-datepicker__current-month{
    color: whitesmoke;
}

.react-datepicker__day{
    color: black;
    font-weight: bolder;
    font-size: larger;
    /* background-color: red; */
}

.react-datepicker__day--disabled{
    color: lightgray;
}

.red-text{
    color: red;
}


.img-show_form{
    width: 40%;
}

.img-confirm{
    width: 10%;
}

.green-text{
    color: green;
}

.pick-service-containet{
    display: inline-grid;
    background-color: lightyellow;
    padding: 25px;
    /* border-radius: 20px; */
    height: 86vh;
    margin-top: 5px;
    width: 30%;
}


.personal-wrapper{
    display: inline-grid;
    background-color: lightyellow;
    padding: 25px;
    border-radius: 20px;
    margin-top: 5px;
    width: 70%;
}

.confirm-wrapper{
    /* background-color: lightyellow; */
    /* left: 50%; */
    /* right: 0; */
    /* left: 0; */
}

.img-customer-upload{
    width: 50%;
}

.service-btn{
    background: black;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    /* font-family: Brush Script MT; */
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .service-btn:hover {
    border: solid #337FED 1px;
    /* background: #1E62D0; */
    background: rgb(82, 9, 9);
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 .addon-btn{
    background: #406334;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .addon-btn:hover {
    border: solid #337FED 1px;
    background: #a85e57;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

/* THIS IS NOW */
@media screen and (max-width: 960px) {
    .step-btn-container{
        display: grid;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    .step-btn{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.6em 0.0em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        font-size: 25px;
        color:#FFFFFF;
        background-color:black;
        text-align:center;
        transition: all 0.2s;
        cursor: pointer;
    }

    .pop-up-content1{
        overflow: auto;
        max-height: 100%;
        font-weight: bold;
        position:fixed;
        left:0;
        right:0;
        margin: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* width: 100px; */
        /* height: auto; */
        width: fit-content;
        height: fit-content;
        padding: 15px;  
        text-align: center;
        box-sizing: content-box;
        border: 4px black;
    }

    .form-stpes{
        text-align: center;
        align-items: center;
        font-size: 17px;
        height: 90vh;
        background-color: whitesmoke;
      }

      .pick-service-containet{
        position: relative;
        display: inline-grid;
        background-color: lightyellow;
        padding: 25px;
        width: 70%;
        border-radius: 20px;
        margin-top: 5px;
    }

    .bubble-man{
        background-size: 0;
      }

      .text-on-bubble{
        display: none;
    }
}