table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
  }

  .num_bookings{
    /* text-align: left; */
    /* width: fit-content; */
    position: absolute;
    left: 0;
    /* margin: -26px 1.6em -1em 32px; */
    margin: -5vh 1.874vw -1.73vh 2.542vw;
    font-size: 1.25vw;
    font-weight: bold;
    /* border: solid; */
    padding: 0.5vw;
  }

  .td1{
    background: whitesmoke
  }

  tbody tr:hover{
    background-color: rgb(212, 211, 211);
  }

  .inside-table{
    padding: 30px;
  }

  table, th, td {
    /* border: 2px solid white; */
    border: 2px solid gray;
    padding: 2.5px;
    font-size: 1.1vw;
  }

  .search_input{
    text-align: center;
    background: white;
    font-size: 1.5vw;
    padding: 0.3vw;
  }

  .customers-table {
    /* padding: 60px; */
    margin: auto;
    width: 100%;
    /* max-width: 520px; */
    /* min-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    /* background-color: darkslategray; */
    /* background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    ); */
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    /* color: white; */
  }

  .del-booking{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.6em 0.0em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 13px;
    color:#FFFFFF;
    background-color:red;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
  }

  .confirm-booking{
    position: absolute;
    display:inline-block;
    padding:0.3em 1.2em;
    margin: 6px 0.6em 0.0em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 1vw;
    /* color:#FFFFFF; */
    /* background-color:green; */
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
  }

  table thead tr{
    background-color: #15171c;
    color: white;
  }
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .customers-table{
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      /* height: 90vh; */
      position: absolute;
      /* top: 80px; */
      /* left: 100%; */
      opacity: 1;
      transition: all 0.5s ease;
    }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		  display: block; 
      text-align: center;
      font-size: 4vw;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: 9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		/* padding-left: 50%;  */
        padding-right: 50%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 2px;
		/* left: 6px; */
        right: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
  td:nth-of-type(1):before { content: "שם מלא:"; background: rgb(22, 22, 22); color: white;}
	td:nth-of-type(2):before { content: "דוא''ל:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(3):before { content: "טלפון:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(4):before { content: "כתובת:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(5):before { content: "שירות:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(6):before { content: "תאריך:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(7):before { content: "שעה:"; background: rgb(22, 22, 22);; color: white;}
	td:nth-of-type(8):before { content: "מחיר:"; background: rgb(22, 22, 22);; color: white;}
  td:nth-of-type(9):before { content: "הערות:"; background: rgb(22, 22, 22);; color: white;}
  td:nth-of-type(9):after {
     content: " ";
     padding: 3px;
    }
  td:nth-of-type(10):before { content: "מזהה:"; background: rgb(22, 22, 22);; color: white;}
  td:nth-of-type(11):before { content: "מחיקה:"; background: rgb(22, 22, 22);; color: white;}
  td:nth-of-type(12):before { content: "אישור תור:"; background: rgb(22, 22, 22);; color: white;}

  .num_bookings {
    /* text-align: left; */
    /* width: fit-content; */
    position: absolute;
    left: 0;
    /* margin: -26px 1.6em -1em 32px; */
    margin: -3vh 1.874vw -1.73vh 2.542vw;
    font-size: 3vw;
    font-weight: bold;
    /* border: solid; */
    padding: 0.5vw;
}

.confirm-booking {
    position: absolute;
    display: inline-block;
    right: 0;
    margin: -28px 1.2em 0em 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 2.5vw;
    /* color: #FFFFFF; */
    /* background-color: green; */
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }

  .search_input{
    display: none;
  }
}